@import 'override';

.section {
    margin-top: 20px;
    margin-bottom: 20px;
}

form .form-control {
    font-size: 14px;
}

.bg-badge-custom {
    background-color: rgb(170, 232, 255);
    color: #333 !important;
}
