@import '~/styles/variables';

.wrapper {
    margin-bottom: 14px;

    .product-inner {
        text-align: center;
        border: 1px solid #ccc;
    }

    &:hover {
        box-shadow: 5px 10px #ccc;
    }

    &:hover .image-wrap .product-actions {
        transform: translateY(0);
    }

    .image-wrap {
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        // width: 218px;
        max-width: 199px;
        max-height: 199px;

        img {
            width: 100%;
        }

        .product-actions {
            position: absolute;
            padding: 6px;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgb(246, 146, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s ease;
            transform: translateY(100%);

            .action-add-cart {
                cursor: pointer;
                width: 32px;
                padding: 2px 0px;
                margin: 0px 10px;
                color: #fff;
                border-radius: 50%;
                background-color: #333;

                &:hover {
                    background-color: #fff;
                    color: rgb(246, 146, 0);
                }
            }
        }
    }

    .book-info-wrap {
        padding: 5px 5px 15px 5px;

        .name-wrap {
            height: 46px;
            margin: 3px 9px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a:hover {
            text-decoration: underline;
            color: rgb(246, 146, 0);
        }

        .product-price {
            margin-top: 10px;
            color: $main-price-color;
        }

        .product-rated {
            margin-top: 14px;
            color: $rated-color;
        }
    }
}
