.search-result-title-wrap {
    margin: 10px;

    span {
        margin-left: 15px;
        color: #2489f4;
    }
}

.search-result-wrapper {
    // margin-top: 2rem;

    .book-wrapper {
        max-width: 200px;
        width: 200px;
        margin: 10px 10px;
        max-width: 23.5rem;
    }
}

.left-slide-wraper {
    h3 {
        font-size: 16px;
    }
}

.page-item {
    button:disabled {
        background-color: #ccc;
    }
}
